@import url("common.css");
body {
    background: #1f1f1f url(../images/bg.jpg) center 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#wrap {
    width: 100%;
    overflow: hidden;
}

a {
    font-size: 18px;
}

.centerBox {
    width: 1200px;
    margin: 0 auto;
}

header {
    /*    display: none;*/
    position: relative;
}

header a {
    color: #fff;
}

header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8000;
    width: 100%;
    height: 80px;
    background-color: #f7ffe3;
    border-bottom: 2px solid #476500;
/*    transition:1s;*/
}

.logo {
    position: absolute;
    left: 50%;
    margin-left: -150px;
}

.fixed_logo {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

.menuInfo {
    margin: 400px 0 100px 20%;
    width: 770px;
    height: 510px;
}

.menuInfo ul li {
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 10px;
}

.menuInfo ul li a {
    color: #fff;
}

.menuInfo ul li:hover {
    transition: 5s;
    transform: scale(1.1);
    /*  default */
    -webkit-transform: scale(1.1);
    /*  크롬 */
    -moz-transform: scale(1.1);
    /* FireFox */
    -o-transform: scale(1.1);
    /* Opera */
}

.menuInfo ul li span {
    display: block;
    width: 230px;
    height: 230px;
    border: 1px solid #fff;
    margin: 10px 0 0 10px;
}

.info_top {
    float: left;
    margin-bottom: 10px;
}

.info_top li:nth-child(1) {
    background: url(../images/menu01_off.jpg) no-repeat;
}

.info_top li:nth-child(2) {
    background: url(../images/menu02_off.jpg) no-repeat;
}

.info_bottom {
    float: right;
}

.info_bottom li:nth-child(1) {
    background: url(../images/menu03_off.jpg) no-repeat;
}

.info_bottom li:nth-child(2) {
    background: url(../images/menu04_off.jpg) no-repeat;
    margin-right: 0;
}

.nav li {
    padding-top: 30px;
    padding-right: 50px;
    float: left;
}

.members {
    float: right;
    margin-right: 40px;
}

.members li {
    padding-top: 30px;
    padding-left: 50px;
    float: left;
}

.eventBox {
    display: block;
    /*    margin: 100px 0 auto 0;*/
    width: 1200px;
    height: 100%;
    color: #212121;
}

.event_list {
    margin-top: 100px;
}

.event_list p {
    padding-left: 10px;
}

.event_list li a:hover {
    color: #476500;
}

.event_list span {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 260px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.8);
}

.eventBox .smallTxt {
    font-size: 12px;
}

.eventBox .eventTitle {
    font-weight: bold;
}

.event_list li {
    position: relative;
    width: 290px;
    height: 363px;
    margin-right: 10px;
    float: left;
}


.event_list li div {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 270px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.8);
}

.event_list li:first-child {
    width: 290px;
    height: 363px;
}

.event_list li:last-child {
    margin-right: 0;
}

#typeBanner {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 130px;
    padding: 10px;
    margin-top: 100px;
    background-color: #181818;
    margin-bottom: 100px;
}

#typeBanner:after {
    content: "";
    display: block;
    clear: both;
}

.autoplay {
    width: 100%;
}

.autoplay div{
    margin: 0 10px;
}

.autoplay div a{
    width: 322px;
    height: 120px;
    float: left;
    padding: 5px 15px;
}

/*#typeSlide {
    margin: 0 auto;
    width: 100%;
    height: 120px;
    overflow: hidden;
}*/

/*parallax 페이지*/
#parallax_wrap{
    position: relative;
    width: 100%;
    height: 900px;
    overflow: hidden;
    background-image: url(../images/parallax_bg.jpg);
}

.signatureMenu>h2{
    /*background: url(../images/signature_title.png) 0 0 no-repeat;*/
}

#container{
    margin: 0 auto;
}

/*parallax-1*/
#parallax-1,
#parallax_txt,
#parallax_arrow
{
    width: 100%;
/*    left: 50%;*/
/*    margin-left: -1000px;*/
    position: relative;
}

#parallax-1>img,
#parallax_txt>img,
#parallax_arrow>img
{
    position: absolute;
}

#parallax-1>#bg1-1{
    top: 650px;
    left: 70px;
}

#parallax-1>#bg1-2{
    top: 800px;
    left: 1050px;
}

#parallax-1>#bg1-3{
    top: 1350px;
    left: 250px;
}

#parallax-1>#bg1-4{
    top: 1450px;
    left: 1150px;
}

/*parallax_txt*/

#parallax_txt>#txt1{
    bottom: 350px;
    right: 1300px;
    /*top: 500px;
    left: 1150px;*/
}

#parallax_txt>#txt2{
    bottom: 600px;
    right: 700px;
}

#parallax_txt>#txt3{
    bottom: 300px;
    right: 150px;    
}

/*parallax_arrow*/

#parallax_arrow>#arrow1{
    top: 550px;
    left: 220px;
}

#parallax_arrow>#arrow2{
    top: 200px;
    left: 950px;
}

#parallax_arrow>#arrow3{
    top: 580px;
    left: 1720px;       
}

#signature {    
    position: absolute;
    z-index: 500;
        /*border: 2px solid #fff;*/

    background-color: rgba(13, 13, 13, 0.8);
}


/* 가로 중앙 정렬 */

.hc {
    /*width: 700px;*/
    width: 34%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


/* 세로 중앙 정렬 */

.vc {
    /*height: 450px;*/
    height: 50%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.signatureMenu {
    width: 94%;
    height: 94%;
    margin-top: 2%;
    margin-left: 3%;
    /*padding:5%;*/
    border: 2px solid #fff;
    color: #fff;
}

.signatureMenu h2 {
    padding-top: 90px;
    text-align: center;
}

.signatureMenu p {
    font-size: 15px;
    margin-top: 60px;
    text-align: center;
}

.signatureMenu span {}

.signatureMenu span a {
    border: 1px solid #fff;
    content: "";
    display: table;
    clear: both;
    padding: 20px 25px;
    color: #fff;
    margin: 50px auto 0 auto;
}

.newMenu {
    margin-top: 150px;
    width: 100%;
    height: 600px;
    background: url(../images/new_bg.jpg) center 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.newMenu>p {
    position: absolute;
    left: 50%;
    margin-left: -73px;
    z-index: 500;
    top: -15px;
}

.newMenu .tomato {
    position: absolute;
    top: 10%;
}

.newMenu .mango {
    position: absolute;
    right: 0;
    top: 50%;
}

.carousel {
    width: 1100px;
    height: 100%;
    /*    background-color: cornflowerblue;*/
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.desert li {
    position: absolute;
    margin-top: 70px;
    width: 300px;
    height: 450px;
    background-color: #181818;
}

.desert li a {
    font-size: 14px;
}

.desert li p {
    padding-top: 20px;
    color: #fff;
    text-align: center;
}

.desert li div {
    width: 250px;
    height: 200px;
    margin: 50px auto;
    border-bottom: 1px solid #fff;
}

.desert li div img {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.desert h3 {
    text-align: center;
    font-size: 22px;
    color: #fff;
}

.desert li:first-child {}

.desert li:first-child span,
.desert li:last-child span {
    color: #ffa9e6;
}

.desert li:nth-child(2),
.desert li:nth-child(4) {
    /*    margin-top: 60px;*/
    box-shadow: 1px 1px 2px #212121;
    background-color: #fff;
}

.desert li:nth-child(2) div,
.desert li:nth-child(4) div {
    width: 250px;
    height: 200px;
    border-bottom: 1px solid #212121;
}

.desert li:nth-child(2) p,
.desert li:nth-child(4) p {
    color: #303030;
}

.desert li:nth-child(2) span {
    color: #b3d334;
}

.desert li:nth-child(4) span {
    color: #461568;
}

.desert li:nth-child(2) h3 {
    color: #7f4099;
}

.desert li:nth-child(4) h3 {
    color: #303030;
}

.desert li:nth-child(3) span {
    color: #a2090a;
}

.button {
    width: 100%;
    position: absolute;
    top: 40%;
}

.button>li {
    position: absolute;
}

.prevBtn {
    z-index: 1000;
    left: 0;
}

.nextBtn {
    z-index: 1000;
    right: 0;
}

footer {
    /*    margin-top: 150px;*/
    height: 600px;
    background: url(../images/footer_bg.jpg) center 0 no-repeat;
}

footer>.centerBox {
    padding-top: 200px;
}

.story {
    width: 1100px;
    margin: 0 auto;
    /*    margin-left:50px;*/
}

.story button {
    position: relative;
    height: 50px;
    width: 200px;
    margin-right: 90px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    border: 1px #fff solid;
    overflow: hidden;
    background: none;
    z-index: 1;
    transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    -ms-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
}

.slideBtn:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

button:first-child:after {
    content: "멤버십";
}

button:nth-child(2):after {
    content: "매장찾기";
}

button:nth-child(3):after {
    content: "고객센터";
}

button:last-child {
    margin-right: 0;
}

button:last-child:after {
    content: "공지사항";
}

.slideBtn:before {
    content: "바로 가기 →";
    height: 100%;
    width: 100%;
    position: absolute;
    color: #fff;
    left: -100%;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.slideBtn:hover {
    background: #fff;
}

.slideBtn:hover:before {
    left: 0;
    opacity: 1;
    color: #2d2d2d;
}

.slideBtn:hover:after {
    left: 100%;
    opacity: 0;
}

.foot_area {
    margin: 50px 0 0 50px;
    width: 1100px;
    height: 50px;
    background-color: #2d2d2d;
    border-radius: 6px;
    position: relative;
}

.company {
    margin-left: 100px;
}

.company li {
    float: left;
    padding: 0 20px;
}

.company li a {
    color: #fff;
    font-size: 15px;
    line-height: 50px;
}

#familySite{
    position: absolute;
    top: 20%;
    right: 30px;
    width: 180px;
    height: 30px;
    background-color: #fff;
}

#familySite li{
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    background-color: #fff;
    display: none;
}

#familySite li a{
    font-size: 13px;
}

#familySite li:hover{
    background-color: #f2f2f2;
}

#familySite>a{
    background:url(../images/familyDown.png) 90% center no-repeat;
    font-size: 14px;
    display: block;   
    padding-left: 10px;
    margin-top: 5px;
}

#familySite a.on{
     background:url(../images/familyUp.png) 90% center no-repeat;
}

address {
    margin-top: 30px;
    color: #fff;
    text-align: center;
}

small {
    color: #888;
    margin-top: 20px;
    /*margin: 20px auto 0;*/
    position: absolute;
    left: 50%;
    margin-left: -325px;
}
