/* mWrap */
#pWrap{
    width:100%;
    height: 900px;
    position:relative;
}
.pContents{
    width:100%;
/*    height: 900px;*/
    overflow: hidden;
    position:absolute;
}
/* parallax */
.parallax{
    width:2000px;
    height:900px;
    margin:0 auto;
    background-color:antiquewhite;
}

.pSection{
    width:2000px;
    height:900px;
    position:absolute;
    overflow: hidden;
    background:url(../images/parallax_bg.jpg) 0 0;
}

.pSection>*{
    position:absolute;
}

.pSection .food1 {
    width: 553px;
    height: 380px;
    top: 10%;
    left: 0;
    background: url(../images/food1.png);
    position: absolute;
}

.pSection .food2 {
    width: 488px;
    height: 466px;
    top: 0;
    left: 55%;
    background: url(../images/food2.png);
}

.pSection .food2-2 {
    width: 233px;
    height: 228px;
    top: 30%;
    left: 43%;
    background: url(../images/food2-2.png);
}

.pSection .food3 {
    width: 517px;
    height: 372px;
    top: 50%;
    left: 20%;
    background: url(../images/food3.png);
}

.pSection .food4 {
    width: 605px;
    height: 413px;
    bottom: -15%;
    left: 60%;
    background: url(../images/food4.png);
}

.pSection .text1,
.pSection .text2,
.pSection .text3{
    left:291px;
    top:200px;
}
.pSection .arrrow1,
.pSection .arrrow2,
.pSection .arrrow3{
    left:291px;
    top:350px;
}

#signature {
    position: absolute;
    z-index: 500;
    background-color: rgba(13, 13, 13, 0.8);
}


/* 가로 중앙 정렬 */

.hc {
    width: 700px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


/* 세로 중앙 정렬 */

.vc {
    height: 450px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.signatureMenu {
    width: 660px;
    height: 410px;
    margin: 20px 0 0 20px;
    border: 2px solid #fff;
    color: #fff;
}

.signatureMenu h2 {
    padding-top: 90px;
    text-align: center;
}

.signatureMenu p {
    font-size: 15px;
    margin-top: 60px;
    text-align: center;
}

.signatureMenu span {}

.signatureMenu span a {
    border: 1px solid #fff;
    content: "";
    display: table;
    clear: both;
    padding: 20px 25px;
    color: #fff;
    margin: 50px auto 0 auto;
}
