#typeBanner {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 130px;
    padding: 10px;
    margin-top: 100px;
    background-color: #181818;
    margin-bottom: 100px;
}

#typeBanner:after {
    content: "";
    display: block;
    clear: both;
}

#type {
    width: 2000px;
}

#type li {
    width: 335px;
    height: 120px;
    float: left;
    padding: 5px 15px;
}

#typeSlide {
    margin: 0 auto;
    width: 100%;
    height: 120px;
    overflow: hidden;
}
